albumentations==2.0.8
matplotlib==3.10.8
ml_collections==1.1.0
numpy==2.4.2
optuna==4.3.0
pandas==3.0.1
plotly==6.1.2
PyYAML==6.0.2
PyYAML==6.0.3
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
wandb==0.25.0
